.tr_1{
    background-color: aqua;
    color: black;
}

.tr_2 {
    background-color: rgb(110, 165, 202);
    color: black;
}

#tag, #cap, #th, #span {
    background-color: aquamarine;
}

.table_1 {
    width: 40pc;
    height: 20pc;
}